.list {
  @include container($container-width-base);
  padding-top: 2.75rem;

  &__title {
    font-size: 2.5rem;
    color: $black;
    margin-top: 1rem;
    margin-bottom: 2.75rem;
  }

  &__list {
    list-style-type: none;
    margin-left: 0;
    border-top: solid 2px $light-gray;
  }

  &__item {
    white-space: nowrap;
    width: 100%;
    border-bottom: solid 2px $light-gray;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem;
    // justify-content: space-between;
    align-items: left;
  }

  &__link {
    font-size: 1.3625rem;
    vertical-align: top;
    &__feat {
      font-size: 2rem;
    }
  }

  &__meta {
    font-size: 1.0475rem;
    color: $cool-gray;
    white-space: nowrap;
    display: block;
    margin-top: 0.25rem;
    &__feat {
      color: $cool-gray;
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }

  &__img {
    &__feat {
      width: 100%;
    }
    img {
      width: 25%
    }
  }

  &__text {
    white-space: normal;
    width: 75%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0.5rem;
  }
}
