{{ partial "header.html" . }}

<main class="post">
  <div class="meta">
    {{ if (isset .Params "featuredimage") }}
      <img src="/post_images/{{ .Params.featuredimage }}">
    {{ end }}
    <h1 class="meta__title">{{ .Title }}</h1>
    <div class="meta__information">
      {{ if (isset .Params "publication") }}
        <span class="meta__pub">{{ .Params.publication }}</span>
      {{ end }}
      {{ if .Params.date }}
        <span class="meta__date">{{ .Date.Format "Jan 2 2006" }}</span>
      {{ end }}

      {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
          {{ range $k := . }}
            {{ if (eq $i "categories") }}
            <a class="meta__link meta__cat" href="{{ relLangURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
            {{ else }}
            <a class="meta__link meta__tag" href="{{ relLangURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <section class="post__content">
    {{ .Content }}
    <div id="disqus_thread"></div>
    <script>
  
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var disqus_config = function () {
      this.page.url = "https://thecodesign.io/" + {{ .RelPermalink }};  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = {{ .UniqueID }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://thecodesignpub.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </section>

</main>

{{ partial "telegram.html" . }}
{{ partial "footer.html" . }}
